.DS_Store
*.dSYM
*.deb
*.build
.deps
.libs
build
*.xcodeproj/*pbxuser
*.xcodeproj/*mode1v3
m4
autom4te.cache
aclocal.m4
config.guess
config.log
config.status
config.sub
config.h
configure
Makefile.in
Makefile
install-sh
ltmain.sh
missing
depcomp
libtool
*.a
*.o
*.so
*.lo
*.loT
*.la
stamp-h1
.*.swp
induction/src/bdb.h
induction/src/build_config.h
induction/src/stamp-h[0-9]*
induction/src/version.h
lithium/device/snmp.h
lithium/device/stamp-h[0-9]*
lithium/include/lithium.h
lithium/include/stamp-h[0-9]*
