Source: induction5
Maintainer: James Wilson <jwilson@lithiumcorp.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: libinduction5-dev
Section: libdevel
Architecture: any
Depends: libinduction5 (= ${Source-Version})
Description: Development files for Lithium Induction Library
 The header files and non-specific .so link for the Lithium Induction library

Package: libinduction5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The .so file for Lithium Induction Library
 The shared library used by Lithium Core

Package: libinduction5-dbg
Section: libdevel
Architecture: any
Depends: libinduction5 (= ${binary:Version})
Description: Debug files for libinduction5
 This package contains the debug symbols for libinduction5

