#statuspage th {
	padding-left: 8px;
	padding-right: 8px;

	border-top: solid 1px #c0c0c0;
	border-left: solid 1px #c0c0c0;
	border-right: solid 1px #404040;
	border-bottom: solid 1px #404040;

	background-color: gray;
}

#statuspage td {
	padding: 2px;
	background-color: #e0e0e0;
	font-size: 10px;
}

#statuspage {
	position: relative;
	left: -80px;
}

#side {
	position: relative;
}

#rrdtool {
	position: absolute;
}

#apache {
	position: absolute;
	left: 480px;
}

.header {
	padding: 4px;
	background-color: #e0e0e0;
}

#greybox
{
  background: #444444;
  padding: 10px;
  border: 1px black dashed;
}

#greybox
{
  background: #44FF44;
  padding: 10px;
  border: 1px black dashed;
}

