<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Console</string>
	<key>CFBundleDisplayName</key>
	<string>Lithium Console</string>
	<key>CFBundleIdentifier</key>
	<string>com.lithiumcorp.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6609</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.19</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://secure.lithiumcorp.com.au/appcast/console.xml</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>lithium</string>
			<key>CFBundleURLIconFile</key>
			<string>com.lithiumcorp.LithiumConsole.url.lithium</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lithium</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>NSDocumentClass</key>
			<string>LCSSceneImportDocument</string>
			<key>CFBundleTypeName</key>
			<string>LCSSceneDocument</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scene</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Console.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>NSDocumentClass</key>
			<string>LCVRackImportDocument</string>
			<key>CFBundleTypeName</key>
			<string>LCVRackDocument</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vrack</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Console.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>NSDocumentClass</key>
			<string>LCMetricGraphDocument</string>
			<key>CFBundleTypeName</key>
			<string>LCMetricGraphDocument</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lgraph</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Console.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>multigraph</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Console.icns</string>
			<key>CFBundleTypeName</key>
			<string>LCMultiGraphDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LCMultiGraphDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
</dict>
</plist>
